<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>

    <add key="SecurityKey" value="FaisalAliAbduHassan"/>
    <add key="ConnnectionString"
         value="Server=.\SQLExpress;Integrated Security=true;AttachDbFilename=|DataDirectory|\App_Data\MohData.mdf;User Instance=true;"/>
  </appSettings>
    <connectionStrings>
        <add name="myconnectionstring" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\MohData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="MyDatabase2ConnectionString" connectionString="Data Source=.; Initial Catalog=MohData; User Id=sa; Password=; "
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Datab.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.Database2ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.MohDataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\MohData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.newdatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\newdatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.MohDataConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\MohData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.MohDataConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin\Debug\MohData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="PrintDoc.Properties.Settings.MohDataConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin\Debug\App_Data\MohData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>